<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .intro{
            background-color: black;
            color: white;
            height:50px;
            text-align: center;
            padding:0.25em;
        }

        .navbar{
            background-color: black;
            color: white;
            height:50px;
            text-align: center;
            padding:0.25em;
        }

        .navcom{
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%; 
            gap:2em;    
            padding: 0.25em;  
            background-color: white;     
        }

        .list{
            list-style: none;
            font-size: 1.5em;
        }

        .list a{
            color: black;
            text-decoration: none;
        }
        .poster{
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            height:50vh;
            width:50vw;
            margin:50px auto;
            text-align: center;
            padding:0.25em;

        }


    </style>
</head>
<body>
    <h1 class="intro">WELCOME TO  HOME PAGE</h1>
    <nav class="navbar">
        <ul class="navcom">
            <li class="list"><a href="/">home</a></li>
            <li class="list"><a href="/register">register</a></li>
            <li class="list"><a href="/login">login</a></li>
        </ul>
    </nav>
    <div class="poster">
        <h1>YOU ARE CURRENTLY LOGED IN</h1>
    </div>    
</body>
</html>