* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chat-area {
  border: 2px solid red;
  height: 100vh;
  position: relative;
}
.top-bar {
  color: #111b21;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile {
  flex: 0.5;
}
.title {
  flex: 3;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.search {
  flex: 0.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:#54656F;
}

.bottom-bar {
  border: 2px solid red;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.profile-image {
  border-radius: 50%;
}
