<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Whatsapp</title>
    </head>
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        .chat-area{
            border: 2px solid red;
            height:100vh;
            position: relative;
        }
        .top-bar{
            border: 2px solid red;
            height: 15%;
            width:100%;
            position:absolute;
            top:0;
        }
        .bottom-bar{
            border: 2px solid red;
            height: 15%;
            width:100%;
            position:absolute;
            bottom:0;             
        }
    </style>
    <body class="chat-area">
           <div class="top-bar">
            <div class="profile">
                <img />
            </div>
            <div class="title">
                <h2>Hub Mangement 2022</h2>
                <h5>Karthik, Hem...</h5>
            </div>
            <div class="search">
                <i class="fa-duotone fa-magnifying-glass"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
           </div>
           <div class="bottom-bar"></div>
    </body>
</html>