<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Whatsapp</title>
        <script src="https://kit.fontawesome.com/632f108976.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-rsU1lG94JHDg/Cz/JM+2CbZcPn39oxNp6gNcm+WMd3q+nSzDldn+cJcNO/YzjlV7/hqI3+ckV7wpg29Jb+VQ5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>    
    <body class="chat-area">
           <div class="top-bar">
            <div class="profile">
                <img class="profile-image" src="profile-photo.jpg" height="60px" width="60px"/>
            </div>
            <div class="title">
                <p>Hub Mangement 2022</p>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
           </div>
           <div class="bottom-bar"></div>
    </body>
</html>